*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* Create a block formatting context to contain margins of descendants. */
  display: flow-root;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}
